.nav-link {
  color: #dadfe5;
  &:hover {
    color: #fd3378;
  }
}

.active {
  color: #fd3378;
}

.fa-fire {
  color: #dadfe5;
}

.fa-comments {
  color: #dadfe5;
}

.fa-user {
  color: #dadfe5;
}

.inherit {
  color: inherit;
}
